IOWA_START_DATE=2023-01-01
IOWA_END_DATE=2023-12-31
SOCRATA_LIMIT=50000
SOCRATA_APP_TOKEN=

SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=IowaLiquorDW
SQLSERVER_USER=admin
SQLSERVER_PASSWORD=admin
SQLSERVER_BOOTSTRAP_USER=sa
SQLSERVER_BOOTSTRAP_PASSWORD=YourStrongPassword123
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_TRUST_CERTIFICATE=yes

PROJECT_ROOT=
